<div class="container-custom" >
  <div class="wrapper p-l-70 p-r-70 p-t-30 p-b-33">
    
    <div class="text-center">
      <div>
        <a href="#"><img src="assets/images/info-logo.png" height="42px"/></a>
        <a href="#"><img src="assets/images/culib-logo.png" height="60px"/></a>
      </div>
      <span> <p style="font-size: 30px" class="p-t-30">You are not authorize !</p> </span>
    </div>
</div>
  </div>


<a routerLink="/" class="home-icon">  
    <img src="assets/images/homepage.png" width="43px" style="margin: 15px">
</a>
<a href="/api/api-auth/logout/?next=/api/api-auth/login/?next=/infomotion" class="logout-icon">
  <img src="assets/images/logout.png" width="40px" style="margin: 15px">
</a>

