<p style="font-size: 30px" class="p-t-30">Report</p>
<form class="p-t-30" novalidate #downloadForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group row" style="margin-right: -15px;">
    <label for="date-range" class="col-sm-2 col-form-label">Range</label>
    <div class="col-sm-9" style="margin-right: -15px;">
      <input type="text" id="date-range" name="date-range" class="form-control" #drp="bsDaterangepicker" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue'}"
        bsDaterangepicker [(ngModel)]="value">
    </div>
    <div class="col-md-1" style="margin-top: -3px">
      <a href="javascript:;" (click)="drp.toggle()">
        <img src="assets/images/calendar.png" width="40px" />
      </a>
    </div>
  </div>
  <div class="form-group">
    <div class="float-right">
      <button type="submit" class="btn btn-submit">Download</button>
    </div>
  </div>
</form>