<div class="p-t-50" *ngIf="isEnableAlert">
  <img src="./assets/images/{{alert.src}}" width="" />
  <p style="font-size:30px" class="p-t-30">{{alert.title}}</p>
  <p style="font-size: 20px; ">{{alert.message}}</p>
</div>

<div *ngIf="isContentShow">
  <span>
    <p style="font-size: 30px" class="p-t-30">How was your experience ?</p>
  </span>
  <div class="p-t-30 p-b-33">
    <button (click)="toggleEmotion('positive')"><img class="emotion-icon" id="positive-icon" [src]="positiveURL" /></button>
    <button (click)="toggleEmotion('neutral')"><img class="emotion-icon" id="neutral-icon" [src]="neutralURL" /></button>
    <button (click)="toggleEmotion('negative')"><img class="emotion-icon" id="negative-icon" [src]="negativeURL" /></button>
  </div>
  <form *ngIf="isShow" novalidate #surveyForm="ngForm" (ngSubmit)="onSubmit(surveyForm)">
    <div class="form-group">
      <p class="p-t-30 p-b-33 text-center" style="font-size: 30px">Any additional comments</p>
      <textarea class="form-control comment-box" rows="5" maxlength="250" name="comment" #commentBox [(ngModel)]="survey.comment"> </textarea>
      <p style="text-align: left; color: #A6A6A6; font-size: 13px;">( {{250 - commentBox.value.length}} characters
        remaining )</p>
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-submit">Submit</button>
    </div>
  </form>
</div>
