<div class="container-custom" >
  <div class="wrapper p-l-70 p-r-70 p-t-30 p-b-33">
    
    <div class="text-center">
      <div>
        <a href="#"><img src="assets/images/info-logo.png" height="42px"/></a>
        <a href="#"><img src="assets/images/culib-logo.png" height="60px"/></a>
      </div>

      <div class="p-t-50" *ngIf = "surveyService.isSuccessNotificationShow">
        <img src="./assets/images/checked.png" width="" />
        <p style="font-size:30px" class="p-t-30">Thank You!</p>
        <p style="font-size: 20px; ">Your feedback has been successfully submitted.</p>
      </div>
      <div class="p-t-50" *ngIf = "surveyService.isAlertNotificationShow">
          <img src="./assets/images/alert.png" width="" />
          <p style="font-size:30px" class="p-t-30">Oop!</p>
          <p style="font-size: 20px; ">Something went wrong. Please referesh the app or reach out to LIT for further information.</p>
        </div>
      <div *ngIf = "surveyService.isContentShow" >
      <span> <p style="font-size: 30px" class="p-t-30">How was your experience ?</p> </span>
      <div class="p-t-30 p-b-33">
          <button (click)="toggleEmotion('positive')"><img class="emotion-icon" id="positive-icon" [src]="positiveURL"/></button>
          <button (click)="toggleEmotion('neutral')"><img class="emotion-icon" id="neutral-icon" [src]="neutralURL"/></button>
          <button (click)="toggleEmotion('negative')"><img class="emotion-icon" id="negative-icon" [src]="negativeURL"/></button>
      </div>

    <form *ngIf = "isShow" novalidate #surveyForm="ngForm" (ngSubmit) = "onSubmit(surveyForm)">
      <div class="form-group">
        <span ><p class="p-t-30 p-b-33 text-center" style="font-size: 30px">Any additional comments</p></span>
        <textarea class="form-control comment-box" rows="5" name="comment"
        [(ngModel)]="survey.comment"></textarea>
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-submit">Submit</button>
      </div>
    </form>
  </div>
</div>
  </div>
</div>

<a *ngIf="isAdmin" routerLink="/admin" style="position: absolute;bottom: 9px; left: 60px;">  
  <img src="assets/images/admin.png" width="43px" style="margin: 15px">
</a>
<a href="/api/api-auth/logout/?next=/api/api-auth/login/?next=/infomotion" style="position: absolute;bottom: 10px">
  <img src="assets/images/logout.png" width="40px" style="margin: 15px">
</a>


<router-outlet></router-outlet>
