<!--The content below is only a placeholder and can be replaced.-->

<div class="limiter">
  <div class="container-login100" >
    <div class="wrap-login100 p-l-70 p-r-70 p-t-30 p-b-33">
      <div class="text-center">
        <div>
          <a href="#"><img src="assets/images/culib-logo.png" height="60px"/></a>
          <!-- <a href="#"><img src="assets/images/info-logo.png" height="50px"/></a> -->
        </div>
        <span> <p style="font-size: 30px" class="p-t-30">How was your experience ?</p> </span>
        <div class="p-t-30 p-b-33">
            <button (click)="toggleEmotion(1)"><img class="emotion-icon" id="positive-icon" [src]="positiveURL"/></button>
            <button (click)="toggleEmotion(0)"><img class="emotion-icon" id="neutral-icon" [src]="neutralURL"/></button>
            <button (click)="toggleEmotion(-1)"><img class="emotion-icon" id="negative-icon" [src]="negativeURL"/></button>
        </div>
      </div>

      <form *ngIf = "isShow" novalidate #surveyForm="ngForm" (ngSubmit) = "onSubmit(surveyForm)">
        <div class="form-group">
          <span ><p class="p-t-30 p-b-33 text-center" style="font-size: 30px">Any additional comments</p></span>
          <textarea class="form-control comment-box" rows="5" name="comment"
          [(ngModel)]="survey.comment"></textarea>
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn" style="color: black; background-color: #CFB87C">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <a href="/api/api-auth/logout/?next=/api/api-auth/login/?next=/infomotion" style="position: absolute;bottom: 10px">
    <img src="assets/images/logout.png" width="40px" style="margin: 15px">
  </a>
</div>
