<!--The content below is only a placeholder and can be replaced.-->

<div class="limiter">
  <div class="container-login100" style="background-image: url('/assets/images/background.jpg');  background-repeat: no-repeat; background-attachment: fixed;">
    <div class="wrap-login100 p-l-70 p-r-70 p-t-30 p-b-33">
      <div class="text-center">
        <div>
          <a href="#"><img src="assets/images/culib-logo.png" height="60px"/></a>
          <!-- <a href="#"><img src="assets/images/info-logo.png" height="50px"/></a> -->
        </div>
        <span> <p style="font-size: 30px" class="p-t-30">How was your experience ?</p> </span>
        <div class="p-t-30 p-b-33">
            <button (click)="toggleEmotion(1)"><img class="emotion-icon" id="positive-icon" [src]="positiveEmotion.src"/></button>
            <button (click)="toggleEmotion(0)"><img class="emotion-icon" id="neutral-icon" [src]="neutralEmotion.src"/></button>
            <button (click)="toggleEmotion(-1)"><img class="emotion-icon" id="negative-icon" [src]="negativeEmotion.src"/></button>
        </div>
      </div>
      
      <form *ngIf = "isShow">
        <div class="form-group">
          <span ><p class="p-t-30 p-b-33 text-center" style="font-size: 30px">Any additional comments</p></span>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <button type="submit" class="btn d-flex justify-content-center" style="color: black; background-color: #CFB87C">Submit</button>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
