<div class="container-custom">
  <div class="wrapper p-l-70 p-r-70 p-t-30 p-b-33">
    <div class="text-center">
      <div>
        <a href="#"><img src="assets/images/info-logo.png" height="42px" /></a>
        <a href="#"><img src="assets/images/culib-logo.png" height="60px" /></a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div *ngIf="isDisplay">
  <a routerLink="" class="home-icon">
    <img src="assets/images/homepage.png" width="43px" style="margin: 15px">
  </a>
  <a routerLink="admin" class="admin-icon" *ngIf="isAdmin">
    <img src="assets/images/admin.png" width="43px" style="margin: 15px">
  </a>
</div>

<a routerLink="logout" class="logout-icon" *ngIf="isDisplay">
  <img src="assets/images/logout.png" width="40px" style="margin: 15px">
</a>
